<nav>
    <ul>
      <li> <a>Home</a></li>
      <li> <a>Cart</a></li>
      <li> <a>About Us</a></li>
      <li> <a>Contact Us</a></li>
    </ul>
</nav>

<div class="flex-container">
    <div>Kikcart</div>
    <input type="text">
    <div>Login/Signup</div>
    <div>Cart</div>
</div>
<form [formGroup]="homeForm" (ngSubmit)="onSubmit(homeForm.value)">
  <div>
    <label for="name">Name : </label>
    <input type="text" formControlName="name">
  </div>
  
  <div>
    <label for="password">Password : </label>
    <input type="password" formControlName="password">
  </div>
  <button type="submit">Login</button>
</form>
<div ng-if="homeData!= undefined">
  <app-child [parentData]="homeForm" (dataEmitter)="updateData($event)">
    
  </app-child>

</div>

<div>
  Name : {{name}} Age : {{age}}
</div>
